{% load static %}
<html>
    <head>
		<title>Girls Computer Club</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
    <body>
        <div>
            <h1><a href="/">Girls Computer Club</a></h1>
		</div>
		<img src="{% static 'images/asd.jpg' %}" width=200>
		{% for post in posts %}
			<div class="blogpost">
				<p class="date">{{ post.created_date }}</p>
				<h1>{{ post.title }}</h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
    </body>
</html>